---
import Greeting from '@/components/Greeting.svelte'
import Layout from '@/layouts/Layout.astro'
import PlaylistCard from '@/components/PlaylistCard.astro'
import { playlists } from '@/lib/data'
---

<Layout title="Spotify">
    <div id="playlist-contaiter"
    class="relative transition duration-100 bg-green-700"
    >
    <nav>
        flecha
    </nav>
        <div class="relative z-20 px-6 pt-10">
            <Greeting/>
            <div class="flex flex-wrap mt-6 gap-4 overflow-y-hidden">
                {playlists.map(playlist => <PlaylistCard playlist={playlist}/>)}
            </div>
        </div>
        <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-zinc-950/80">
        </div>
    </div>
</Layout>
