---
import HomeIcon from '@/icons/Home.astro'
import LibraryIcon from '@/icons/Library.astro'
import SearchIcon from '@/icons/Search.astro'
import AsideLibrary from './AsideLibrary.astro'
import ItemsAsideMenu from './ItemsAsideMenu.astro'
import {playlists} from '@/lib/data'
---
<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-950 rounded-lg p-2">
        <ul>
            <ItemsAsideMenu href='/'>
                <HomeIcon/>
                Home
            </ItemsAsideMenu>

            <ItemsAsideMenu href='/#'>
                <SearchIcon/>
                Search
            </ItemsAsideMenu>
        </ul>
    </div>
    <div class="bg-zinc-950 rounded-lg p-2 flex-1">
        <ul>
            <ItemsAsideMenu href='/#'>
                <LibraryIcon/>
                Your Library
            </ItemsAsideMenu>
        </ul>
        {
            playlists.map(playlist => <AsideLibrary playlist={playlist}/>)
        }
    </div>
</nav>
